**/*.odb
**/*.odb_f
**/*.pmg
**/abaqus.rpy*"
**/abaqus.ods*
**/*.sim
**/*.par
**/*.env
**/*.com
**/*.exception
**/*.lck
**/*.stt
**/*.prt
**/*.simlog
**/*.SMABulk
# **/*.sta
**/*.dat
# **/*.msg
# **/*.inp
**/*.jcf
**/*.modfem
**/*.stp
**/*.step
./reports/*
**/*.pyc
**/__pycache__
**/abaqus.rpy*
**/*.pptx
*.egg-info/
dist/
build/
.pytest_cache/
.venv
examples/output/
